#carousel {
	margin: 100px auto;
	display: block;
	height: 300px;
	width: 400px;
	overflow: hidden;
	border: 5px solid;
}

ul {
	width: 2000px;
	list-style: none;
}

li {
	display: block;
	height: 300px;
	width: 400px;
	list-style: none;
	float: left;
}

img {
	height: 300px;
	width: 400px;
}